.header {
  background: black;
  border-bottom: red;
}

.headerOpt {
  display: flex;
}

.logo {
  flex-grow: 1;
  padding-top: 8px;
}

.logo img {
  width: 35px;
}

.bars {
  color: grey;
  padding: 10px;
}