.options {
  font-weight: 300;
  font-size: 12px;
  color: #bababa;
  padding: 10px;
  border-top: 1px solid #404040;
}

.options a {
  color: inherit;
  text-decoration: none;
}

.options span {
  color: white;
  margin: 10px;
}