.newslist_item {
  border: 1px solid #f2f2f2;
  background: #fff;
  margin-top: 0;
  padding: 8px 5px 0px 5px;
}

.newslist_item h2 {
  font-size: 13px;
  line-height: 21px;
  margin: 5px 0;
  color: #525252;
}

.newslist_item a {
  text-decoration: none;
}

.newslist_wrapper {
  box-sizing: border-box;
  opacity: 0;
  transform: translateX(-100%);
  transition: all .5s ease-in;
}

.newslist_wrapper_enter {
  opacity: 1;
  transform: translateX(0%);
}

.videoListItem_wrapper {
  display: flex;
  border: 2px solid #d5d5d5;
  background: #fff;
}

.videoListItem_wrapper h2 {
  font-size: 13px;
  color: #525252;
}

.left {
  background-size: cover !important;
}

.left div {
  width: 90px;
  height: 90px;
}

.right {
  flex-grow: 1;
  padding: 10px;
}

.relatedWrapper{
  margin: 0 5px;
}