.newslist_item {
  border: 1px solid #f2f2f2;
  background: #fff;
  margin-top: 0;
  padding: 8px 5px 0px 5px;
}

.newslist_item h2 {
  font-size: 13px;
  line-height: 21px;
  margin: 5px 0;
  color: #525252;
}